
        <div class="container mt-3">
          <div  class="d-flex justify-content-between m-2">
            <div class="input-group" style="max-width: 20%;">
              <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" />
              <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init><i class="bi bi-search"></i></button>
            </div>
           
            <button [routerLink]="['/Addnewtask']" class="rounded btn btn-outline-secondary">Add new task  <i class="bi bi-ui-checks"></i> </button>
            </div>

        <table class="table table-hover">
            <thead>
              <tr class="table-secondary">
                <td>ID</td>
                <td>Title</td>
                <td>Description</td>
                <td>Due Date</td>
                <td>Priority</td>
                <td>Actions</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of tasks">
                <td>{{task.id}}</td>
                <td>{{task.title}}</td>
                <td>{{task.description}}</td>
                <td>{{task.dueDate}}</td>
                <td>{{task.priority}}</td>
                <td><button>Edit</button><button>Delete</button> </td>
              </tr>
            </tbody>
          </table>
        </div>
